@import url('https://fonts.googleapis.com/css2?family=partan:wght@300;800&family=Material+Icons+Outlined&display=swap');


$headlineFont: 'Spartan', sans-serif;
$textFont: $headlineFont;

$primaryColor: #57a2ed;

$whiteColor: #ffffff;
$blackColor: #000000;
$lightBlackColor: #131313;

$tinyWidth: 375px;

$maxWidth: 600px;
